.body {
  height: 100vh;
    background-color: #2c475c;
  }

.box-container {
  height: 89vh;
  margin: 0px;
}

.smallBoxes {
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 1.75rem;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.bigBoxes {
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 1.75rem;
  flex-grow: 1;
  /* max-height: 39vh; */
}

.midBoxes {
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 1.75rem;
  flex-grow: 1;
}
.reactSpeed {
  width: 150px !important;
  height: 150px !important;
}